/* Figma Styles of your File */
:root {
    /* Colors */
    /* Fonts */
    --text-font-family: Roboto-Medium, sans-serif;
    --text-font-size: 64px;
    --text-line-height: 20px;
    --text-font-weight: 500;
    --text-font-style: normal;
  
    /* Effects */
  }
  