body {
    margin: 0;
    padding: 0;
    height: 3379px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0; /* Optional: for contrast */
  }
.frame-59,
.frame-59 * {
  box-sizing: border-box;
}
.frame-59 {
  background: linear-gradient(
    180deg,
    rgba(56, 237, 68, 1) 0%,
    rgba(26, 192, 37, 1) 27.000001072883606%,
    rgba(11, 90, 14, 1) 100%
  );
  height: 3379px;
  width: 1507px;
  position: relative;
  overflow: hidden;
}
.create-university-post {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Black", sans-serif;
  font-size: 96px;
  line-height: 130%;
  letter-spacing: 0.1px;
  font-weight: 900;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 65px;
  width: 1255px;
  height: 385px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.vice-president-for-academic-affairs {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Black", sans-serif;
  font-size: 48px;
  line-height: 130%;
  letter-spacing: 0.1px;
  font-weight: 900;
  position: absolute;
  left: 87px;
  top: 109px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.rectangle-6 {
  background: linear-gradient(
    180deg,
    rgba(81, 255, 93, 1) 0%,
    rgba(31, 205, 41, 1) 27.000001072883606%,
    rgba(14, 112, 17, 1) 100%
  );
  border-radius: 20px;
  width: 1288px;
  height: 1867px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 450px;
}
.group-11 {
  position: absolute;
  inset: 0;
}
.rectangle-16 {
  background: #d9d9d9;
  border-radius: 10px;
  width: 495px;
  height: 177px;
  position: absolute;
  left: 110px;
  top: 2140px;
}
.march-03-2025 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Black", sans-serif;
  font-size: 36px;
  line-height: 140%;
  font-weight: 900;
  position: absolute;
  left: 299px;
  top: 2204px;
}
.pagination-next {
  background: #ffffff;
  border-radius: var(--var-sds-size-radius-200, 8px);
  padding: var(--var-sds-size-space-200, 8px)
    var(--var-sds-size-space-300, 12px) var(--var-sds-size-space-200, 8px)
    var(--var-sds-size-space-300, 12px);
  display: flex;
  flex-direction: row;
  gap: var(--var-sds-size-space-200, 8px);
  align-items: center;
  justify-content: center;
  width: 217.95px;
  height: 98px;
  position: absolute;
  left: 1088px;
  top: 2070px;
  aspect-ratio: 217.95/98;
}
.next {
  color: var(--var-sds-color-text-neutral-default, #303030);
  text-align: left;
  font-family: var(
    --var-sds-typography-body-font-family,
    "Inter-Black",
    sans-serif
  );
  font-size: 40px;
  line-height: 100%;
  font-weight: 900;
  position: relative;
}
.arrow-back {
  width: 154px;
  height: 138px;
  position: absolute;
  left: -12px;
  top: -4px;
  overflow: visible;
}
.extended-fab {
  background: var(--schemes-surface-container-high, #ece6f0);
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  width: 1507px;
  height: 215px;
  min-width: 80px;
  position: absolute;
  left: 0px;
  top: 3164px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3),
    inset 0px 4px 8px 3px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}
.state-layer {
  padding: 16px 20px 16px 16px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.label-text {
  color: #189620;
  text-align: center;
  font-family: var(
    --var-sds-typography-title-hero-font-family,
    "Inter-Bold",
    sans-serif
  );
  font-size: 40px;
  line-height: 120%;
  letter-spacing: -0.03em;
  font-weight: 700;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
._2025-bullet-in-by-figma {
  color: #000000;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 32px;
  line-height: 28px;
  font-weight: 600;
  position: absolute;
  left: 539px;
  top: 3317px;
}
.bullet-removebg-preview-1 {
    width: 967px;
    height: 464px;
    position: absolute;
    left: 549px;
    top: 3170px;
    object-fit: cover;
    aspect-ratio: 1303.58/734;
}
.bsu-logo-removebg-preview-1 {
  width: 165px;
  height: 165px;
  position: absolute;
  left: 250px;
  top: 3189px;
  object-fit: cover;
  aspect-ratio: 1;
}
.linear-determinate-progress-indicator {
  padding: 0px 0px 0px 2px;
  width: 798px;
  height: 25px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 314px;
}
.track-and-stop {
  padding: 0px 0px 0px 2px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  top: 50%;
  translate: 0 -50%;
}
.track {
  flex: 1;
  height: 12px;
  position: relative;
}
.track2 {
  background: var(--schemes-secondary-container, #e8def8);
  border-radius: 8px;
  height: 4px;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 50%;
  translate: 0 -50%;
}
.stop {
  flex-shrink: 0;
  width: 4px;
  height: 4px;
  position: absolute;
  right: 0px;
  top: 50%;
  translate: 0 -50%;
}
.stop-shape {
  background: var(--schemes-primary, #65558f);
  border-radius: 26px;
  width: 4px;
  height: 4px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
}
.rectangle-12 {
  background: #ffffff;
  border-radius: 20px;
  width: 1104px;
  height: 768px;
  position: absolute;
  left: 202px;
  top: 530px;
  box-shadow: 0px 4px 25px 2px rgba(0, 0, 0, 1);
}
.add-text {
  color: #898989;
  text-align: center;
  font-family: "Inter-Black", sans-serif;
  font-size: 32px;
  line-height: 130%;
  letter-spacing: 0.1px;
  font-weight: 900;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 820px;
  width: 395px;
  height: 165px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rectangle-13 {
  background: linear-gradient(
    180deg,
    rgba(235, 255, 58, 1) 0%,
    rgba(78, 255, 2, 1) 100%
  );
  border-radius: 20px;
  border-style: solid;
  border-color: #fffefe;
  border-width: 3px;
  opacity: 0.8;
  width: 504px;
  height: 337px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 1461px;
  box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 1);
}
.photo {
  opacity: 0.5;
  width: 333px;
  height: 266px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 1497px;
  overflow: visible;
}
.add-media {
  color: #000000;
  text-align: left;
  font-family: "Inter-Black", sans-serif;
  font-size: 48px;
  line-height: 130%;
  letter-spacing: 0.1px;
  font-weight: 900;
  opacity: 0.85;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 1599px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.rectangle-14 {
  background: #d9d9d9;
  border-radius: 10px;
  width: 479px;
  height: 70px;
  position: absolute;
  left: 202px;
  top: 1880px;
}
.rectangle-15 {
  background: rgba(217, 217, 217, 0);
  border-style: solid;
  border-color: #000000;
  border-width: 2px;
  width: 52px;
  height: 53px;
  position: absolute;
  left: 213px;
  top: 1888px;
}
.checkboxes {
  padding: 4px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  width: 275px;
  height: 176px;
  position: absolute;
  left: 191px;
  top: 1869px;
}
.include-teaser {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 36px;
  line-height: 140%;
  font-weight: 600;
  position: absolute;
  left: 280px;
  top: 1890px;
}
.div {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 36px;
  line-height: 140%;
  font-weight: 400;
  position: absolute;
  left: 221px;
  top: 1888px;
}
.bsu-logo-removebg-preview-2 {
  width: 150px;
  height: 150px;
  position: absolute;
  left: 138px;
  top: 2154px;
  object-fit: cover;
  aspect-ratio: 1;
}
